<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/inside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">

    <title>Inicio</title>
</head> 
<body>
        <form action="">
            <div class="mb-3">
                <label class="form-label">Titulo</label>
                <input type="text" class="form-control" id="" aria-describedby="">
    
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="" aria-describedby="">
    
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione un SubRubro</option>
                    <% subrubros.forEach(element => { %>
                        <option value="<%= element.ID_SubRubro %> "><%= element.Nombre %> </option>
                    <% }) %>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option value="Practicas">Practicas</option>
                    <option value="Junior">Junior</option>
                    <option value="SemiJunior">Practicas</option>
                    <option value="Practicas">Practicas</option>
                </select>
                
            </div>


        </form>
</body>