body{
    
    background-color: #EEEEEE;
    
}
.headerContainer{
    z-index: 122;
    height: 11vh;
    background-color: #FFF;
    width: 100%;
    box-shadow: 0px 1px 8px 0px #c0c8d6; 
}

.headerContainerInside{
    height: 100%;
    background-color: transparent;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: bold;
    color: #393E46;
    
}
ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    
}

.headerContainerInside li{
    list-style-type: none;
    display: table-cell;
    

}

.nav-Item{
    display: flex;
    justify-content: start;
    height: 100%;
    min-width: 20%;
    padding-top: 6%;
    margin-right: 3% ;
    margin-left: 3% ;
}

.nav-Item button{
    
    background-color: transparent;
    min-width: 5rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px;
    text-decoration: none;
    color: #222831 ;
    font-size: 0.81rem;
    border: none;
    
    

}
.nav-Item a{
    
    background-color: transparent;
    min-width: 5rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px;
    text-decoration: none;
    color: #222831 ;
    font-size: 0.81rem;
    border: none;
    

}
#logout{
    
    background-color: #00ADB5 ;
    min-width: 4rem;
    font-weight: bold;
    border-radius: 15px;
    padding: 4px;
    text-decoration: none;
    color: #ffffff ;
    font-size: 0.81rem;
    border: none;
    padding-left: 35%;
    padding-right: 35%;

}

#perfilMargin{
margin-right: -3%;
}
#divInicio{
    margin-right: 4%;
}
#logoutDiv{
    margin-left: 25%;
}

.div-Logo{
    padding-top: 0.6%;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100px;
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
}


/* AQUI EMPIEZA EL BODY */

.divUnderHeader{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220vh;
   
    width: 100%;
}


.divUnderHeader-BODY{
    
    margin: 0;    
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 20%;
    /* background-color: #fff; */
    width: 100%;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
    /* box-shadow: 0px 1px 8px 0px #c0c8d6; */
}   
.tituloyperfil{
    
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 8%;
    background-color: #fff;
    width: 80%;
    box-shadow: 0px 1px 8px 0px #c0c8d6;
} 
.bodyPortada{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    background: linear-gradient(180deg, #fff, 80%, #afafaf );
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 0;
    border-right: 1px solid #d1d3d3;
    border-left: 1px solid #d1d3d3;
}
.portadaImagen{
    width: 80%;
    background: linear-gradient(180deg, #fff, 80%, #afafaf );
}
.solotitulo{
    color: #393E46;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 50%;
    margin: auto;
    margin-bottom: 1.5%;
    width: 100%;
}
.solotitulo p{
    margin: 0;
}

.perfilimagen{
    z-index: 10000000;
    background-color: #00ADB5;
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1.5px solid #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bodyinfo{
        display: flex;
        justify-content: space-between;
        background-color: #EEEEEE;
        height: 64%;
        width: 80%;
        margin-top: 1px;
}

.bodyinfoleft{
    margin-top: 2%;
    height: 40%;
    width: 30%;
    background-color: #fff;
}
.bodyinfoleft-header{
    color: #393E46;
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: Bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20%;
    width: 100%;
    
}
.bodyinfoleft-body{
    color: #393E46;
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    padding:  2% 10% 2% 10%;
    
}

.bodyinfoleft-body-item{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 14%;
    color: #00ADB5;
    margin-top: 2%;
    
}
.mleftItem{
margin-left: 3%;
}
.bodyinfoleft-body-item:first-child{
    margin-top: 3%;
}
.bodyinfoleft-body-item a{
    color: #393E46;
    font-size: 1.1rem;
    text-decoration: none;
}
.bodyinfoleft-body-item a:hover{
    
    text-decoration: underline;
}

.bodyinforight{
    margin-top: 2%;
    background-color: #fff;
    height: 90%;
    width: 68%;
    padding:  6% 5% 10% 5%;
}
.bodyinforight-Tittle{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.6rem;
    height: 15%;
    width: 100%;
}

.bodyinforight-infoContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.6rem;
    height: 85%;
    width: 100%;
    
}
input{
    outline: none;
}
.inputinfo{
    
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px #00ADB5 ;
    padding: 12px 22px;
    border: none;
    border-bottom: solid 2px #00ADB5;
    border-right: solid 1px #00ADB5 ;
}
.containerhalfed{
    display: flex;
    justify-content: space-between;
}

.inputpluslabel{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputpluslabelhalfed{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.containerhalfed:first-child{
    margin-top: 5%;
}

.botonEditar{
    font-family: 'Roboto';
    font-weight: bold;
    color :#00ADB5;
    border:2px solid #00ADB5;
    border-radius: 15px;
    background-color: transparent;
    height: 15%;
    font-size: 1rem;
    
}

.perfilimagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
.añadirfoto{
    z-index: 100000000;
    position:absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}

.añadirportada{
    z-index: 100000000;
    position:absolute;
    top: 92%;
    left: 97%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}

.bodyPortada img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}