<div class="divInnerRightAllOffersContainer">
    <% solicitudes.forEach(element=> { %>
        <div class="divBody-UnderHeader-Inner-rightOffer">

          
            <div class="dUiR-TextContainer" style="width: 98%; margin-left: 2%;">
                <div class="dUiR-TextContainer-Tittle">
                    <a href=""></a>
                    <p>
                        <% let string =  element.Titulo %> 
                        <% string = string.charAt(0).toUpperCase() + string.slice(1).toLowerCase(); %>
                        <a href="/empleo/solicitud/<%= element.ID_Solicitud%>"><%= string %></a>
                        
                    </p>
                </div>
                <div class="dUiR-TextContainer-Info">
                    <p>
                        <% let stringD =  element.Descripcion %> 
                        <% stringD = stringD.charAt(0).toUpperCase() + stringD.slice(1).toLowerCase(); %>

                        <%= stringD %>
                    </p>
                </div>

            </div>

        </div>

    

        <% }) %>
    </div>