

    <div class="divBody-UnderHeader-Inner-left">


        <div class="divBUHIL-header">
            <p>¡Bienvenido <%= nombre %>!</p>
        </div>
        <div class="divBUHIL-header-Line"></div>
        
        <div id="firstTittle" class="divIconAndTittleLeftHeader">
            <div class="divIconContainer">
                <i class="fas fa-file-alt iconLeftHeaderJobs"></i>
            </div>
            <div class="divTextContainer">
                <a href="/solicitante/empleo/1">Ver todas las ofertas</a>
            </div>

        </div>

        <div class="divIconAndTittleLeftHeader">

            <div class="divIconContainer">
                
                <i class="fas fa-pen-alt iconLeftHeaderJobs"></i>
                
            </div>

            <div class="divTextContainer" id="postulantes">
                <a href="/empleo/agregarSolicitud">Agregar una solicitud</a>
            </div>

        </div>

        <div class="divIconAndTittleLeftHeader">

            <div class="divIconContainer">
                <i class="fas fa-user-edit iconLeftHeaderJobs"></i>
                
                
            </div>

            <div class="divTextContainer" id="postulantes">
                <a href="/empleo/MisSolicitudes/1">Mis solicitudes</a>
            </div>

        </div>

    </div>