<div class="divInnerRightAllOffersContainer">
    <% ofertas.forEach(element=> { %>
        <div class="divBody-UnderHeader-Inner-rightOffer">

            <div class="dUiR-ImageContainer">

            </div>
            <div class="dUiR-TextContainer">

                <div class="dUiR-TextContainer-Tittle">
                   
                    <p>
                        <% let string =  element.Titulo %> 
                        <% string = string.charAt(0).toUpperCase() + string.slice(1).toLowerCase(); %>

                        <a href="/empleo/oferta/<%= element.ID_Oferta %>"  ><%= string %></a>
                    </p>
                </div>
                <div class="dUiR-TextContainer-Info">
                    <p>
                        <% let stringD =  element.Descripcion %> 
                        <% stringD = stringD.charAt(0).toUpperCase() + stringD.slice(1).toLowerCase(); %>

                        <%= stringD %>
                    </p>
                </div>

            </div>

        </div>

    

        <% }) %>
    </div>