<div class="headerContainer">
    <div class="headerContainerInside">
                    <!--LOGO  -->
                    <div class="div-Logo">
                        <p>LaburAR</p>
                    </div>
                    <!-- NAV-ELEMENTS -->
                    <ul>
                        <div class="nav-Item" id="divInicio">
                            <li>
                                <a href="/inicio/Ofertante">INICIO</a>
                            </li>
                        </div>   
                        
                        <div class="nav-Item">
                            <li>
                                <a href="/Ofertante/Empleo">EMPLEOS</a>
                            </li>
                        </div> 
                        
                                <div class="nav-Item">
                                    <li>
                                        <a href="">NOTIFICACIONES</a>
                                    </li>
                                </div> 

                                <div class="nav-Item" id="logoutDiv">
                                    <li>
                                        <a href="/logout" id="logout">SALIR</a>
                                    </li>
                                </div> 

                            </ul>
                            
            </div>
        </div>